.export-task-panel {
    position: fixed;
    bottom: 3rem;
    right: 0.7rem;
    background: white;
    border: none;
    border-radius: 6px;
    padding: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 300px;
    z-index: 9999;
  }
  